<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/head :: head('Detalle Pedido')}"></head>

    <body class="d-flex flex-column min-vh-100">

        <nav th:replace="~{layout/navbar :: navbar}"></nav>

        <main class="container flex-grow-1">
            <h1 class="my-2">Detalle pedido</h1>
        </main>

        <footer th:replace="~{layout/footer :: footer}"></footer>
        <script th:replace="~{layout/footer :: scripts}"></script>

    </body>
</html>
