<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurantes Listado</title>


</head>
<body>

<h1 th:text="${title}">Restaurantes Listado</h1>

<!-- Imprimir número de restaurantes -->
<p th:text="|${#lists.size(restaurants)} resultados|"></p>
<p th:text="|${restaurants.size()} resultados|"></p>
<p th:text="|${numRestaurants} resultados|"></p>

<!-- Imprimir list con restaurantes -->
<ul>
    <li th:each="restaurant : ${restaurants}">
        <span th:text="${restaurant.name}"></span>
        <span th:text="${restaurant.averagePrice}"></span>
        <!-- Agregar enlace que apunte al restaurant id dinámicamente -->
<!--        <a href="/restaurants/2">Ver restaurante</a>-->
        <a th:href="@{/restaurants/{id}(id=${restaurant.id})}">Ver restaurante</a>

    </li>

</ul>

<a th:href="@{/restaurants/create}">Crear Restaurante</a>





</body>
</html>