<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Restaurante</title>
</head>
<body>

<h1 th:text="${restaurant.name}"></h1>

<p th:text="${restaurant.averagePrice != null ? restaurant.averagePrice + ' € (EUR)' : 'Sin precio'}"></p>


<p th:if="${restaurant.numberEmployees != null}" th:text="${restaurant.numberEmployees + ' empleados'}"></p>
<p th:unless="${restaurant.numberEmployees != null}">Sin empleados</p>

<p th:if="${restaurant.active}" style="color:green;">Abierto</p>
<p th:unless="${restaurant.active}" style="color:red;">Cerrado</p>

<!-- resto de atributos del restaurant -->

<!-- listado de platos -->
<h2>Carta de platos</h2>
<p th:text="${dishes.size()} + ' platos'"></p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio (€ EUR)</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.description}"></td>
            <td th:text="${dish.price}"></td>
            <td th:text="${dish.dishType}"></td>
            <td>
                <!-- Botones con acciones: Ver, Agregar a pedido, Editar, Desactivar, Borrar -->
            </td>
        </tr>
    </tbody>
</table>
<!-- para el admin: -->
    <!-- listado de empleados -->
    <!-- listado de pedidos -->







</body>
</html>